p{
	color:#4B0082; /*Indigo*/
	font-size:40px;
	font-family:asf,arial,"Times new roman"
}

body{
	background-color:#000000
}

*{
	margin: 0;
    padding: 0;
}

header{
	background-color:green;
	height: 100px;
}

#div_esquerda{
	background-color:red;
	min-height: 200px;
	width: 60%;
	float: left;
}

#div_direita{
	background-color:yellow;
	min-height: 200px;
	width: 40%;
	float: right;
}

footer{
	clear: both;
	background-color: blue;
	height: 80px;
}